/***************************
*CSS Document
***************************/
body{
    --grey: #999;
    --yellow: #ff8900;
}
/*header*/
.header {
    position: relative;
    height: 50px;
    margin:0 auto;
    z-index: 1;
}
.header li {
    position: relative;
    width: 16.66667%;
    float: left;
}
.header a {
    display: block;
    position: relative;
    line-height: 50px;
    font-size: 16px;
    color:var(--grey);
    text-align: center;
    outline:none;
    border-radius: 1px;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    transition:all .2s linear 0s;
}
.header a:hover,
.header a.current {
    color:var(--yellow);
}
.header a.current {
    background-color: #f1f1f1;
}
.header .level2 {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left:0;
    z-index: 1;
}
.header .level2 li {
    display: block;
    width: 100%;
    border-bottom:1px solid #ddd;
}
.header .level2 a {
    display: block;
    line-height: 36px;
    background-color: #fff;
    padding-left: 15px;
    -webkit-transition:background-color .2s linear 0s;
    -o-transition:background-color .2s linear 0s;
    transition:background-color .2s linear 0s;
}
.header .level2 a:hover {
    color:#ff8900;
}
.header .level2 a:active {
    background-color: #f7f7f7;
}

#parent {
    width: 300px;
    margin:50px auto;
    padding-top: 20px;
    border:1px solid #ddd;
    background-color: #f1f1f1;
    text-align: center;
}
#child {
    width: 100px;
    margin:20px auto;
    padding:10px 2em;
    border-radius: 2px;
    background-color: #ff8900;
    color:#fff;
    cursor:pointer;
}
#child:active {
    background-color: #ff7e00
}
